<a href="https://colab.research.google.com/github/gabrielapietra/Data_Mining/blob/main/TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [57]:
import pandas as pd

In [58]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Leitura de todas as bases 2015-2021

In [59]:
df_15 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2015.CSV', encoding='latin-1', sep=';', low_memory=False)
df_16 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2016.CSV', encoding='latin-1', sep=';', low_memory=False)
df_17 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2017.CSV', encoding='latin-1', sep=';', low_memory=False)
df_18 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2018.CSV', encoding='latin-1', sep=';', low_memory=False)
df_19 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2019.CSV', encoding='latin-1', sep=';', low_memory=False)
df_20 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2020.CSV', encoding='latin-1', sep=';', low_memory=False)
df_21 = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2021.CSV', encoding='latin-1', sep=';', low_memory=False)

Número de linhas de de colunas por data frame

In [18]:
print("2015 - Número de linhas e colunas:", df_15.shape[0], df_15.shape[1])
print("2016 - Número de linhas e colunas:", df_16.shape[0], df_16.shape[1])
print("2017 - Número de linhas e colunas:", df_17.shape[0], df_17.shape[1])
print("2018 - Número de linhas e colunas:", df_18.shape[0], df_18.shape[1])
print("2019 - Número de linhas e colunas:", df_19.shape[0], df_19.shape[1])
print("2020 - Número de linhas e colunas:", df_20.shape[0], df_20.shape[1])
print("2021 - Número de linhas e colunas:", df_21.shape[0], df_21.shape[1])

2015 - Número de linhas e colunas: 81156 200
2016 - Número de linhas e colunas: 92866 200
2017 - Número de linhas e colunas: 119798 200
2018 - Número de linhas e colunas: 182892 200
2019 - Número de linhas e colunas: 253139 200
2020 - Número de linhas e colunas: 344691 200
2021 - Número de linhas e colunas: 444786 200

Pré-processamento, filtro por região Sul e cursos *STEM*

In [19]:
df_clean_15 = df_15.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_16 = df_16.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_17 = df_17.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_18 = df_18.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_19 = df_19.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_20 = df_20.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")
df_clean_21 = df_21.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")

Número de linhas de de colunas por *data frame* pós filtragem

In [37]:
print("2015 - Número de linhas e colunas:", df_clean_15.shape[0], df_clean_15.shape[1])
print("2016 - Número de linhas e colunas:", df_clean_16.shape[0], df_clean_16.shape[1])
print("2017 - Número de linhas e colunas:", df_clean_17.shape[0], df_clean_17.shape[1])
print("2018 - Número de linhas e colunas:", df_clean_18.shape[0], df_clean_18.shape[1])
print("2019 - Número de linhas e colunas:", df_clean_19.shape[0], df_clean_19.shape[1])
print("2020 - Número de linhas e colunas:", df_clean_20.shape[0], df_clean_20.shape[1])
print("2021 - Número de linhas e colunas:", df_clean_21.shape[0], df_clean_21.shape[1])

2015 - Número de linhas e colunas: 3017 200
2016 - Número de linhas e colunas: 3436 200
2017 - Número de linhas e colunas: 4194 200
2018 - Número de linhas e colunas: 5979 200
2019 - Número de linhas e colunas: 8619 200
2020 - Número de linhas e colunas: 13296 200
2021 - Número de linhas e colunas: 18642 200

Novos *data frames* a partir dos atributos utilizados na análise

In [50]:
df_new_15 = df_clean_15[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL', 'CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_16 = df_clean_16[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_17 = df_clean_17[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_18 = df_clean_18[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_19 = df_clean_19[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_20 = df_clean_20[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO2', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

df_new_21 = df_clean_21[['CO_UF', 'CO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'CO_CINE_AREA_GERAL','CO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR', 'QT_SIT_TRANCADA', 'QT_SIT_DESVINCULADO', 'QT_SIT_FALECIDO']]

Renomeando a variável do conjunto de dados de 2020

In [51]:
df_new_20 = df_new_20.rename(columns={'CO_CINE_ROTULO2': 'CO_CINE_ROTULO'})

Adicionando o atributo ANO em todos os conjunto de dados

In [52]:
df_new_15_copy = df_new_15.copy()
df_new_15_copy.loc[:, 'ANO'] = 2015
df_new_16_copy = df_new_16.copy()
df_new_16_copy.loc[:, 'ANO'] = 2016
df_new_17_copy = df_new_17.copy()
df_new_17_copy.loc[:, 'ANO'] = 2017
df_new_18_copy = df_new_18.copy()
df_new_18_copy.loc[:, 'ANO'] = 2018
df_new_19_copy = df_new_19.copy()
df_new_19_copy.loc[:, 'ANO'] = 2019
df_new_20_copy = df_new_20.copy()
df_new_20_copy.loc[:, 'ANO'] = 2020
df_new_21_copy = df_new_21.copy()
df_new_21_copy.loc[:, 'ANO'] = 2021

In [43]:
print("2015 - Número de linhas e colunas:", df_new_15_copy.shape[0], df_new_15_copy.shape[1])
print("2016 - Número de linhas e colunas:", df_new_16_copy.shape[0], df_new_16_copy.shape[1])
print("2017 - Número de linhas e colunas:", df_new_17_copy.shape[0], df_new_17_copy.shape[1])
print("2018 - Número de linhas e colunas:", df_new_18_copy.shape[0], df_new_18_copy.shape[1])
print("2019 - Número de linhas e colunas:", df_new_19_copy.shape[0], df_new_19_copy.shape[1])
print("2020 - Número de linhas e colunas:", df_new_20_copy.shape[0], df_new_20_copy.shape[1])
print("2021 - Número de linhas e colunas:", df_new_21_copy.shape[0], df_new_21_copy.shape[1])

2015 - Número de linhas e colunas: 3017 75
2016 - Número de linhas e colunas: 3436 75
2017 - Número de linhas e colunas: 4194 75
2018 - Número de linhas e colunas: 5979 75
2019 - Número de linhas e colunas: 8619 75
2020 - Número de linhas e colunas: 13296 75
2021 - Número de linhas e colunas: 18642 75

Mesclando todos os conjunto de dados

In [53]:
# Criar uma lista com os dataframes
dfs = [df_new_15_copy, df_new_16_copy, df_new_17_copy, df_new_18_copy, df_new_19_copy, df_new_20_copy, df_new_21_copy]

# Concatene os DataFrames da lista ao longo do eixo das linhas (axis=0)
df_final = pd.concat(dfs, axis=0)

# IMPRIMA NÚMERO DE LINHAS
df_final.shape[0]

57183

Verificação de valores ausentes e nulos

In [54]:
# Verificar o número de linhas com valores NaN, em branco ou nulos em todas as colunas
num_linhas_nulos = df_final.isnull().any(axis=1).sum()

print(f"Número de linhas com valores nulos, em branco ou NaN em todas as colunas: {num_linhas_nulos}")

Número de linhas com valores nulos, em branco ou NaN em todas as colunas: 16528

In [56]:
# Verificar as colunas com valores nulos, em branco ou NaN
colunas_nulos = df_final.columns[df_final.isnull().any()].tolist()

print("Colunas com valores nulos, em branco ou NaN:")
print(colunas_nulos)

Colunas com valores nulos, em branco ou NaN:
['TP_GRAU_ACADEMICO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO', 'QT_INSCRITO_TOTAL_NOTURNO']

Limpeza de valores nulos e brancos

In [47]:
df_final = df_final.dropna(how='any')

Número final de linhas e colunas

In [48]:
print("Número de linhas e colunas:", df_final.shape[0], df_final.shape[1])

Número de linhas e colunas: 40655 75

Verificação após limpeza

In [11]:
# Verificar se as colunas possuem valores nulos
null_counts = df_final.isnull().sum()
cols_with_null = null_counts[null_counts > 0]
num_cols_with_null = len(cols_with_null)
print(f"Número de colunas com valores nulos: {num_cols_with_null}")

# Verificar se as colunas contêm valores NaN
nan_counts = df_final.isna().sum()
cols_with_nan = nan_counts[nan_counts > 0]
num_cols_with_nan = len(cols_with_nan)

print(f"Número de colunas com valores NaN: {num_cols_with_nan}")

Número de colunas com valores nulos: 0
Número de colunas com valores NaN: 0

Quantidade de cursos por estado (2015-2021)

In [14]:
anos = [15, 16,17,18,19,20,21]

lista_df_agrupados = []

for ano in anos:
    df_agrupado = globals()[f"df_new_{ano}"].groupby('CO_UF').size().reset_index(name='Quantidade')
    df_agrupado['ANO'] = 2000 + ano  # Adicione o ano correspondente ao DataFrame agrupado
    lista_df_agrupados.append(df_agrupado)

for i, df_agrupado in enumerate(lista_df_agrupados):
    print(f"DataFrame {i+1} (Ano {df_agrupado['ANO'].unique()[0]}):")
    print(df_agrupado)
    print()

DataFrame 1 (Ano 2015):
   CO_UF  Quantidade   ANO
0   41.0        1116  2015
1   42.0         783  2015
2   43.0        1118  2015

DataFrame 2 (Ano 2016):
   CO_UF  Quantidade   ANO
0   41.0        1271  2016
1   42.0         911  2016
2   43.0        1254  2016

DataFrame 3 (Ano 2017):
   CO_UF  Quantidade   ANO
0   41.0        1546  2017
1   42.0        1106  2017
2   43.0        1542  2017

DataFrame 4 (Ano 2018):
   CO_UF  Quantidade   ANO
0   41.0        2243  2018
1   42.0        1559  2018
2   43.0        2177  2018

DataFrame 5 (Ano 2019):
   CO_UF  Quantidade   ANO
0   41.0        3371  2019
1   42.0        2224  2019
2   43.0        3024  2019

DataFrame 6 (Ano 2020):
   CO_UF  Quantidade   ANO
0   41.0        5357  2020
1   42.0        3370  2020
2   43.0        4569  2020

DataFrame 7 (Ano 2021):
   CO_UF  Quantidade   ANO
0   41.0        7631  2021
1   42.0        4763  2021
2   43.0        6248  2021

In [ ]:
for df in dfs:
    # Calcule a contagem e a porcentagem da coluna que especifica a instituição de ensino (pública ou privada)
    contagem = df['TP_REDE'].value_counts()
    porcentagem = df['TP_REDE'].value_counts(normalize=True) * 100

    # Crie um novo DataFrame com a contagem e a porcentagem lado a lado
    df_contagem_porcentagem = pd.DataFrame({'Contagem': contagem, 'Porcentagem': porcentagem})

    # Imprima o novo DataFrame
    print(df_contagem_porcentagem)
    print()

   Contagem  Porcentagem
2      2427     80.44415
1       590     19.55585

   Contagem  Porcentagem
2      2854      83.0617
1       582      16.9383

   Contagem  Porcentagem
2      3631    86.576061
1       563    13.423939

   Contagem  Porcentagem
2      5413    90.533534
1       566     9.466466

   Contagem  Porcentagem
2      8040    93.282283
1       579     6.717717

   Contagem  Porcentagem
2     12705    95.555054
1       591     4.444946

   Contagem  Porcentagem
2     18052    96.835104
1       590     3.164896

In [ ]:
for df in dfs:
    contagem = df.groupby(['Ano', 'TP_REDE', 'TP_DIMENSAO'])['CO_MUNICIPIO'].count().reset_index()

    # Calcule a porcentagem em relação ao total por ano
    contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)

    # Imprima o resultado
    print(contagem)
    print()

#1. Cursos presenciais ofertados no Brasil
#2. Cursos a distância ofertados no Brasi

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2015        1            1           584    19.356977
1  2015        1            2             6     0.198873
2  2015        2            1          1060    35.134239
3  2015        2            2          1367    45.309911

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2016        1            1           579    16.850990
1  2016        1            2             3     0.087311
2  2016        2            1          1123    32.683353
3  2016        2            2          1731    50.378347

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2017        1            1           562    13.400095
1  2017        1            2             1     0.023844
2  2017        2            1          1195    28.493085
3  2017        2            2          2436    58.082976

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2018        1            1           566     9.466466
1  2018        2            1          1225    20.488376
2  2018        2            2          4188    70.045158

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2019        1            1           576     6.682910
1  2019        1            2             3     0.034807
2  2019        2            1          1251    14.514445
3  2019        2            2          6789    78.767838

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2020        1            1           582     4.377256
1  2020        1            2             9     0.067690
2  2020        2            1          1239     9.318592
3  2020        2            2         11466    86.236462

    Ano  TP_REDE  TP_DIMENSAO  CO_MUNICIPIO  Porcentagem
0  2021        1            1           580     3.111254
1  2021        1            2            10     0.053642
2  2021        2            1          1219     6.538998
3  2021        2            2         16833    90.296106

<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)
<ipython-input-33-06da82d26a72>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  contagem['Porcentagem'] = contagem.groupby('Ano')['CO_MUNICIPIO'].apply(lambda x: (x / x.sum()) * 100)

In [ ]:
# Agrupar os dados pelo estado e pelo ano e calcular as contagens
contagem_estados_ano = df_final.groupby(['CO_UF', 'Ano'])['CO_UF'].count()

# Calcular as porcentagens dos estados dentro de cada ano
porcentagens_estados_ano = contagem_estados_ano.groupby('Ano').apply(lambda x: x / x.sum() * 100)

# Imprimir as porcentagens dos estados por ano
print(porcentagens_estados_ano)

Series([], Name: CO_UF, dtype: int64)

<ipython-input-72-39c3e4e26ef8>:5: FutureWarning:

Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)

In [ ]:
#1. Universidade
#2. Centro Universitário
#3. Faculdade
#4. Instituto Federal de Educação, Ciência e Tecnologia
#5. Centro Federal de Educação Tecnológica

# Agrupar por ano e tipo de organização acadêmica e contar o número de cursos
contagem = df_final.groupby(['Ano', 'TP_ORGANIZACAO_ACADEMICA']).size().unstack()

# Calcular as porcentagens para cada tipo de organização acadêmica
porcentagens = contagem.div(contagem.sum(axis=1), axis=0) * 100

# Exibir a tabela de porcentagens
print(porcentagens)

TP_ORGANIZACAO_ACADEMICA          1          2          3         4
Ano
2015                      55.751674  11.564212  27.145466  5.538649
2016                      53.203998  13.403880  27.454439  5.937684
2017                      53.189066  14.066059  26.366743  6.378132
2018                      51.564246  15.139665  26.592179  6.703911
2019                      50.465244  17.186645  25.013684  7.334428
2020                      42.539110  49.420878   6.949458  1.090554
2021                      42.763652  53.905160   2.531917  0.799270

In [ ]:
df_year = df_final.groupby('Ano').sum()

quantidade_total_vagas = df_year['QT_VG_TOTAL']
qtd_total_vagas_di = df_year['QT_VG_TOTAL_DIURNO']
qtd_total_vagas_not = df_year['QT_VG_TOTAL_NOTURNO']

porcentagem_vagas_di = qtd_total_vagas_di / quantidade_total_vagas * 100
porcentagem_vagas_not = qtd_total_vagas_not / quantidade_total_vagas * 100

anos = df_year.index

data = {'Ano': anos,
        'Total de Vagas': quantidade_total_vagas,
        'Porcentagem Vagas Diurnas': porcentagem_vagas_di,
        'Porcentagem Vagas Noturnas': porcentagem_vagas_not}

df_porcentagens = pd.DataFrame(data)
print(df_porcentagens)

       Ano  Total de Vagas  Porcentagem Vagas Diurnas  \
Ano
2015  2015        213010.0                  32.865124
2016  2016        226394.0                  32.543265
2017  2017        234414.0                  33.422492
2018  2018        226013.0                  32.366280
2019  2019        199153.0                  32.177773
2020  2020        203590.0                  30.965666
2021  2021        176255.0                  29.386968

      Porcentagem Vagas Noturnas
Ano
2015                   67.134876
2016                   67.456735
2017                   66.577508
2018                   67.633720
2019                   67.822227
2020                   69.034334
2021                   70.613032

<ipython-input-55-bb4f66348dac>:1: FutureWarning:

The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.

# Exportação para ARFF

In [ ]:
df_final.to_csv('cursos.csv', index=False)

In [ ]:
import numpy as np

In [ ]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka.
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values.
              To suppress this, set this to False
    """
    import re

    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"

    dfcopy = df #all cleaning operations get done on this copy


    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type

    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}"
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n")
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [ ]:
df_cursos = pd.read_csv("cursos.csv",na_values="NA")
pandas2arff(df_cursos,"cursos.arff")

True

In [ ]:
caminho_saida = ('/content/drive/My Drive/TCC/CURSOS.arff')

In [17]:
# Percorra a lista de DataFrames
for df in dfs:
    # Agrupe os dados por ano e estado e calcule a contagem de cursos
    contagem_cursos = df.groupby(['ANO', 'CO_UF'])['CO_MUNICIPIO'].count().reset_index()

    # Renomeie a coluna de contagem de cursos para 'Quantidade de Cursos'
    contagem_cursos = contagem_cursos.rename(columns={'CO_MUNICIPIO': 'Quantidade de Cursos'})

    # Imprima o resultado
    print(contagem_cursos)
    print()  # Linha em branco para separar os resultados de cada DataFrame

    ANO  CO_UF  Quantidade de Cursos
0  2015   41.0                  1116
1  2015   42.0                   783
2  2015   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2016   41.0                  1116
1  2016   42.0                   783
2  2016   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2017   41.0                  1116
1  2017   42.0                   783
2  2017   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2018   41.0                  1116
1  2018   42.0                   783
2  2018   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2019   41.0                  1116
1  2019   42.0                   783
2  2019   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2020   41.0                  1116
1  2020   42.0                   783
2  2020   43.0                  1118

    ANO  CO_UF  Quantidade de Cursos
0  2021   41.0                  1116
1  2021   42.0                   783
2  2021   43.0                  1118