<a href="https://colab.research.google.com/github/gabrielapietra/Data_Mining/blob/main/TCC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df = pd.read_csv('/content/drive/My Drive/TCC/CURSOS_2021.CSV', encoding='latin-1', sep=';', low_memory=False)

In [ ]:
df.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,...,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA
0,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
1,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
2,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
3,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0
4,2021,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
num_linhas = df.shape[0]
print("Número de linhas:", num_linhas)

Número de linhas: 444786

In [ ]:
num_colunas = df.shape[1]
print("Número de colunas:", num_colunas)

Número de colunas: 200

In [ ]:
df_clean = df.query("NO_REGIAO == 'Sul' and CO_CINE_AREA_GERAL in [5, 6, 7]")

In [ ]:
num_linhas = df_clean.shape[0]
print("Número de linhas:", num_linhas)

Número de linhas: 18642

In [ ]:
df_clean.head()

,NU_ANO_CENSO,NO_REGIAO,CO_REGIAO,NO_UF,SG_UF,CO_UF,NO_MUNICIPIO,CO_MUNICIPIO,IN_CAPITAL,TP_DIMENSAO,...,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR,QT_MOB_ACADEMICA,QT_ING_MOB_ACADEMICA,QT_MAT_MOB_ACADEMICA,QT_CONC_MOB_ACADEMICA
344033,2021,Sul,4.0,Paraná,PR,41.0,Abatiá,4100103.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
344045,2021,Sul,4.0,Paraná,PR,41.0,Almirante Tamandaré,4100400.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
344047,2021,Sul,4.0,Paraná,PR,41.0,Almirante Tamandaré,4100400.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
344049,2021,Sul,4.0,Paraná,PR,41.0,Almirante Tamandaré,4100400.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0
344052,2021,Sul,4.0,Paraná,PR,41.0,Almirante Tamandaré,4100400.0,0.0,2,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
selecao = df[['CO_CINE_AREA_GERAL', 'NO_CINE_AREA_GERAL']].drop_duplicates()
print(selecao)

      CO_CINE_AREA_GERAL                                 NO_CINE_AREA_GERAL
0                      4                  Negócios, administração e direito
1                      1                                           Educação
14                     3         Ciências sociais, comunicação e informação
46                     6  Computação e Tecnologias da Informação e Comun...
47                    10                                           Serviços
53                     7                  Engenharia, produção e construção
206                    2                                Artes e humanidades
341                    5        Ciências naturais, matemática e estatística
457                    8     Agricultura, silvicultura, pesca e veterinária
496                    9                                  Saúde e bem-estar
2157                   0                                  Programas básicos

In [ ]:
df_new = df_clean[['SG_UF', 'NO_MUNICIPIO', 'TP_DIMENSAO', 'TP_ORGANIZACAO_ACADEMICA', 'TP_REDE', 'NO_CINE_ROTULO', 'TP_GRAU_ACADEMICO',
                   'TP_MODALIDADE_ENSINO', 'QT_VG_TOTAL', 'QT_VG_TOTAL_DIURNO', 'QT_VG_TOTAL_NOTURNO', 'QT_INSCRITO_TOTAL', 'QT_INSCRITO_TOTAL_DIURNO',
                   'QT_INSCRITO_TOTAL_NOTURNO', 'QT_ING', 'QT_ING_FEM', 'QT_ING_MASC', 'QT_ING_DIURNO', 'QT_ING_NOTURNO', 'QT_ING_0_17', 'QT_ING_18_24',
                   'QT_ING_25_29', 'QT_ING_30_34','QT_ING_35_39','QT_ING_40_49','QT_ING_50_59','QT_ING_60_MAIS','QT_MAT','QT_MAT_FEM','QT_MAT_MASC','QT_MAT_DIURNO',
                   'QT_MAT_NOTURNO','QT_MAT_0_17','QT_MAT_18_24','QT_MAT_25_29','QT_MAT_30_34','QT_MAT_35_39','QT_MAT_40_49','QT_MAT_50_59','QT_MAT_60_MAIS','QT_CONC',
                   'QT_CONC_FEM','QT_CONC_MASC','QT_CONC_DIURNO','QT_CONC_NOTURNO','QT_CONC_0_17','QT_CONC_18_24','QT_CONC_25_29','QT_CONC_30_34','QT_CONC_35_39',
                   'QT_CONC_40_49','QT_CONC_50_59','QT_CONC_60_MAIS','QT_ING_PROCESCPUBLICA','QT_ING_PROCESCPRIVADA','QT_ING_PROCNAOINFORMADA','QT_MAT_PROCESCPUBLICA',
                   'QT_MAT_PROCESCPRIVADA','QT_MAT_PROCNAOINFORMADA','QT_CONC_PROCESCPUBLICA','QT_CONC_PROCESCPRIVADA','QT_CONC_PROCNAOINFORMADA','QT_APOIO_SOCIAL',
                   'QT_ING_APOIO_SOCIAL','QT_MAT_APOIO_SOCIAL','QT_CONC_APOIO_SOCIAL','QT_ATIV_EXTRACURRICULAR','QT_ING_ATIV_EXTRACURRICULAR','QT_MAT_ATIV_EXTRACURRICULAR',
                   'QT_CONC_ATIV_EXTRACURRICULAR']]

In [ ]:
df_new.head()

,SG_UF,NO_MUNICIPIO,TP_DIMENSAO,TP_ORGANIZACAO_ACADEMICA,TP_REDE,NO_CINE_ROTULO,TP_GRAU_ACADEMICO,TP_MODALIDADE_ENSINO,QT_VG_TOTAL,QT_VG_TOTAL_DIURNO,...,QT_CONC_PROCESCPRIVADA,QT_CONC_PROCNAOINFORMADA,QT_APOIO_SOCIAL,QT_ING_APOIO_SOCIAL,QT_MAT_APOIO_SOCIAL,QT_CONC_APOIO_SOCIAL,QT_ATIV_EXTRACURRICULAR,QT_ING_ATIV_EXTRACURRICULAR,QT_MAT_ATIV_EXTRACURRICULAR,QT_CONC_ATIV_EXTRACURRICULAR
344033,PR,Abatiá,2,2,2,Sistemas de informação,1.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
344045,PR,Almirante Tamandaré,2,1,2,Sistemas de informação,3.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
344047,PR,Almirante Tamandaré,2,1,2,Ciência de dados,3.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
344049,PR,Almirante Tamandaré,2,1,2,Ciência da computação,1.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0
344052,PR,Almirante Tamandaré,2,1,2,Defesa cibernética,3.0,2,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
num_linhas = df_new.shape[0]
num_colunas = df_new.shape[1]
print(num_linhas)
print(num_colunas)

18642
70

In [ ]:
df_new['QT_ING_0_24'] = df_new['QT_ING_0_17'] + df_new['QT_ING_18_24']
df_new['QT_ING_25_34'] = df_new['QT_ING_25_29'] + df_new['QT_ING_30_34']
df_new['QT_ING_35_49'] = df_new['QT_ING_35_39'] + df_new['QT_ING_40_49']
df_new['QT_ING_50_MAIS'] = df_new['QT_ING_50_59'] + df_new['QT_ING_60_MAIS']

In [ ]:
print(df_new.dtypes)

SG_UF                           object
NO_MUNICIPIO                    object
TP_DIMENSAO                      int64
TP_ORGANIZACAO_ACADEMICA         int64
TP_REDE                          int64
                                 ...
QT_CONC_APOIO_SOCIAL             int64
QT_ATIV_EXTRACURRICULAR          int64
QT_ING_ATIV_EXTRACURRICULAR      int64
QT_MAT_ATIV_EXTRACURRICULAR      int64
QT_CONC_ATIV_EXTRACURRICULAR     int64
Length: 70, dtype: object

In [ ]:
# Verificar se as colunas possuem valores nulos
null_counts = df_new.isnull().sum()

# Filtrar colunas com mais de 0 valores nulos
cols_with_null = null_counts[null_counts > 0]

# Verificar o número de colunas com valores nulos
num_cols_with_null = len(cols_with_null)

print(f"Número de colunas com valores nulos: {num_cols_with_null}")

Número de colunas com valores nulos: 0

In [ ]:
# Verificar se as colunas contêm valores NaN
nan_counts = df_new.isna().sum()

# Filtrar colunas com mais de 0 valores NaN
cols_with_nan = nan_counts[nan_counts > 0]

# Verificar o número de colunas com valores NaN
num_cols_with_nan = len(cols_with_nan)

print(f"Número de colunas com valores NaN: {num_cols_with_nan}")

Número de colunas com valores NaN: 0

In [ ]:
import numpy as np

In [ ]:
def pandas2arff(df,filename,wekaname = "pandasdata",cleanstringdata=True,cleannan=True):
    """
    converts the pandas dataframe to a weka compatible file
    df: dataframe in pandas format
    filename: the filename you want the weka compatible file to be in
    wekaname: the name you want to give to the weka dataset (this will be visible to you when you open it in Weka)
    cleanstringdata: clean up data which may have spaces and replace with "_", special characters etc which seem to annoy Weka.
                     To suppress this, set this to False
    cleannan: replaces all nan values with "?" which is Weka's standard for missing values.
              To suppress this, set this to False
    """
    import re

    def cleanstring(s):
        if s!="?":
            return re.sub('[^A-Za-z0-9]+', "_", str(s))
        else:
            return "?"

    dfcopy = df #all cleaning operations get done on this copy


    if cleannan!=False:
        dfcopy = dfcopy.fillna(-999999999) #this is so that we can swap this out for "?"
        #this makes sure that certain numerical columns with missing values don't get stuck with "object" type

    f = open(filename,"w")
    arffList = []
    arffList.append("@relation " + wekaname + "\n")
    #look at each column's dtype. If it's an "object", make it "nominal" under Weka for now (can be changed in source for dates.. etc)
    for i in range(df.shape[1]):
        if dfcopy.dtypes[i]=='O' or (df.columns[i] in ["Class","CLASS","class"]):
            if cleannan!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].replace(to_replace=-999999999, value="?")
            if cleanstringdata!=False:
                dfcopy.iloc[:,i] = dfcopy.iloc[:,i].apply(cleanstring)
            _uniqueNominalVals = [str(_i) for _i in np.unique(dfcopy.iloc[:,i])]
            _uniqueNominalVals = ",".join(_uniqueNominalVals)
            _uniqueNominalVals = _uniqueNominalVals.replace("[","")
            _uniqueNominalVals = _uniqueNominalVals.replace("]","")
            _uniqueValuesString = "{" + _uniqueNominalVals +"}"
            arffList.append("@attribute " + df.columns[i] + _uniqueValuesString + "\n")
        else:
            arffList.append("@attribute " + df.columns[i] + " real\n")
            #even if it is an integer, let's just deal with it as a real number for now
    arffList.append("@data\n")
    for i in range(dfcopy.shape[0]):#instances
        _instanceString = ""
        for j in range(df.shape[1]):#features
                if dfcopy.dtypes[j]=='O':
                    _instanceString+="\"" + str(dfcopy.iloc[i,j]) + "\""
                else:
                    _instanceString+=str(dfcopy.iloc[i,j])
                if j!=dfcopy.shape[1]-1:#if it's not the last feature, add a comma
                    _instanceString+=","
        _instanceString+="\n"
        if cleannan!=False:
            _instanceString = _instanceString.replace("-999999999.0","?") #for numeric missing values
            _instanceString = _instanceString.replace("\"?\"","?") #for categorical missing values
        arffList.append(_instanceString)
    f.writelines(arffList)
    f.close()
    del dfcopy
    return True

In [ ]:
pandas2arff(df_new,"test.arff")

True

In [ ]:
caminho_saida = ('/content/drive/My Drive/TCC/CURSOS_2021.arff')